<!--Ordine in preparazione-->
<app-live-orders [filter]="{ cook: auth['_id'], status: 'preparing', kind: 'FoodOrder' }" [sort]="[]">
  <ng-template let-loading="loading" let-orders="orders">
    <ngb-alert type="info" [dismissible]="false" *ngIf="!loading && orders.length === 0">
      Nessun ordine in preparazione
    </ngb-alert>
    <ng-container *ngIf="orders.length > 0">
      <app-order-content [order]="order" [show]="{
          name: true,
          preparationTime: true
        }" *ngFor="let order of orders">
        <div section="pre" class="float-right">
          <button class="btn btn-success" (click)="notifyReadyOrder({_id: order.table}, order)">
            Notifica
          </button>
        </div>
      </app-order-content>
    </ng-container>
  </ng-template>
</app-live-orders>
<hr />
<!--Tavoli con ordini da preparare-->
<app-live-tables [filter]="{ foodOrdersStatus: 'pending' }" [sort]="[{ by: 'ordersTakenAt' }]">
  <ng-template let-loading="loading" let-tables="tables">
    <ngb-alert type="info" [dismissible]="false" *ngIf="!loading && tables.length === 0">
      Nessun tavolo con ordini da preparare
    </ngb-alert>
    <ng-container *ngIf="!loading && tables.length > 0">
      <div class="mb-1" *ngFor="let table of tables">
        <app-table-content [table]="table" [show]="{}">
          <div section="post">
            <app-live-orders [filter]="{ table: table['_id'], status: 'pending', kind: 'FoodOrder' }"
              [sort]="[{ by: 'preparationTime', desc: true }]">
              <ng-template let-orders="orders">
                <ngb-alert type="info" [dismissible]="false" *ngIf="!loading && orders.length === 0">
                  Nessun ordine da preparare
                </ngb-alert>
                <div class="mb-1" *ngFor="let order of orders">
                  <app-order-content [order]="order" [show]="{
                    preparationTime: true
                  }">
                    <div section="pre" class="float-right">
                      <button class="btn btn-success" [disabled]="order !== orders[0]"
                        (click)="assignOrder(table, order)">
                        Prepara
                      </button>
                    </div>
                  </app-order-content>
                </div>
              </ng-template>
            </app-live-orders>
          </div>
        </app-table-content>
      </div>
    </ng-container>
  </ng-template>
</app-live-tables>