<button class="btn btn-success mb-4" (click)="addUser()">
  <i class="fas fa-user-plus"></i>&nbsp;Crea utente
</button>

<div class="mb-1" *ngFor="let user of users">
  <app-user-content [user]="user" [show]="{ stats: true }">
    <div
      section="pre"
      ngbDropdown
      class="d-inline-block float-right"
      placement="bottom-right"
    >
      <button class="btn btn-secondary" ngbDropdownToggle>
        <i class="fas fa-cog"></i>&nbsp;
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="changePassword(user)">
          <i class="fas fa-key"></i>&nbsp;Cambia password
        </button>
        <button ngbDropdownItem (click)="deleteUser(user)">
          <i class="fas fa-user-minus"></i>&nbsp;Elimina
        </button>
      </div>
    </div>
  </app-user-content>
</div>
