<form class="mb-4" (submit)="search()">
  <div class="input-group">
    <input
      type="number"
      class="form-control"
      placeholder="Numero di clienti"
      [(ngModel)]="numOfCustomers"
      name="numOfCustomers"
      (ngModelChange)="cancelSearch()"
    />
    <div class="input-group-append">
      <button class="btn btn-primary">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>
<app-live-tables
  [filter]="{ seats: numOfCustomers, status: 'free' }"
  [sort]="[{ by: 'number' }]"
  *ngIf="searching && numOfCustomers > 0"
>
  <ng-template let-loading="loading" let-tables="tables">
    <ngb-alert
      type="info"
      [dismissible]="false"
      *ngIf="!loading && tables.length === 0"
      >Nessun tavolo libero</ngb-alert
    >
    <ng-container *ngIf="!loading && tables.length > 0">
      <div class="card px-3 py-3 mb-2" *ngFor="let table of tables">
        <app-table-content [table]="table" [show]="{ seats: true }"
          ><div section="pre" class="float-right">
            <button class="btn btn-success" (click)="occupyTable(table)">
              Occupa
            </button>
          </div></app-table-content
        >
      </div>
    </ng-container>
  </ng-template>
</app-live-tables>
