<div class="card">
  <div class="card-body">
    <ng-content select="div [section='pre']"></ng-content>

    <h5 class="card-title">Tavolo {{ table.number }}</h5>
    <h6 class="card-subtitle text-muted mb-2" *ngIf="show && show.status">
      {{ table.status }}
    </h6>
    <p class="card-text my-0" *ngIf="show && show.seats">
      Numero di posti: {{ table.seats }}
    </p>
    <p class="card-text my-0" *ngIf="show && show.foodOrdersStatus">
      Piatti: {{ table.foodOrdersStatus }}
    </p>
    <p class="card-text my-0" *ngIf="show && show.beverageOrdersStatus">
      Bevande: {{ table.beverageOrdersStatus }}
    </p>

    <ng-content select="div [section='post']"></ng-content>
  </div>
</div>
