<div class="modal-header">
  <h4 class="modal-title">Ordini del tavolo {{ table.number }}</h4>
  <button type="button" class="close" (click)="dismissModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="height: 320px; overflow-y: scroll">
    <ngb-alert type="info" [dismissible]="false" *ngIf="orders.length === 0"
      >Nessun ordine</ngb-alert
    >

    <ng-container *ngIf="orders.length > 0">
      <div class="mb-1" *ngFor="let order of orders">
        <app-order-content [order]="order">
          <div section="pre" class="float-right">
            <button class="btn btn-danger" (click)="deleteOrder(order)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </app-order-content>
      </div>
    </ng-container>
  </div>

  <div class="text-right my-2">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="orders.length === 0"
      (click)="commitOrders()"
    >
      Consegna
    </button>
  </div>

  <hr class="my-4" />

  <div style="height: 320px; overflow-y: scroll">
    <ngb-alert type="info" [dismissible]="false" *ngIf="menuItems.length === 0"
      >Il menu &egrave; vuoto</ngb-alert
    >

    <ng-container *ngIf="menuItems.length > 0">
      <div class="mb-1" *ngFor="let menuItem of menuItems">
        <app-menu-item-content [menuItem]="menuItem">
          <div section="pre" class="float-right">
            <button class="btn btn-success" (click)="addOrder(menuItem)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </app-menu-item-content>
      </div>
    </ng-container>
  </div>
</div>
