<div class="modal-header">
  <h4 class="modal-title">Ordini del tavolo {{ table.number }}</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-live-orders [filter]="{ table: table['_id'] }" [sort]="[]" #orders>
    <ng-template let-loading="load" let-orders="orders">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let order of orders">
          <app-order-content [order]="order" [show]="{}">
            <div section="pre" class="float-right">
              <button class="btn btn-danger" (click)="deleteOrder(order)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </app-order-content>
        </li>
      </ul>
    </ng-template>
  </app-live-orders>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="orders.orders.length === 0"
    (click)="commitOrders()"
  >
    Consegna
  </button>

  <div class="card" *ngFor="let menuItem of menuItems">
    <div class="card-body">
      <div class="float-right">
        <button class="btn btn-success" (click)="addOrder(menuItem)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <h5 class="card-title">
        <i
          [class]="
            menuItem.kind === 'Food' ? 'fas fa-utensils' : 'fa fa-coffee'
          "
        ></i
        >&nbsp;{{ menuItem.name }}
      </h5>
    </div>
  </div>
</div>
